venv
.venv
.conda
.git
.github
examples
sample_apps
clients
deployments
k8s
.hypothesis
__pycache__
.vscode
*.egg-info
.pytest_cache
.ruff_cache
.tox
.cache
.coverage
coverage.xml
htmlcov
**/node_modules
target
go/bin
go/pkg/proto/coordinatorpb
go/pkg/proto/logservicepb
.mypy_cache
dist
.next
docs
.DS_Store
chromadb/proto/*_pb2.py
chromadb/proto/*_pb2.pyi
chromadb/proto/*_grpc.py
