# ignore mac created DS_Store files
.DS_Store
**/.DS_Store

__pycache__
**/__pycache__

chroma-server/chroma_logs.log

**/data__nogit

**/.ipynb_checkpoints

index_data
/index_data

# igonore chroma-ui build files
chroma-ui/build
chroma-ui/public/
chroma-ui/node_modules/