version: '3.9'

networks:
  test_net:
    driver: bridge

services:
  test_server:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ./:/chroma
      - test_index_data:/index_data
    command: uvicorn chromadb.app:app --workers 1 --host 0.0.0.0 --port 8000 --log-config chromadb/log_config.yml
    environment:
      - ANONYMIZED_TELEMETRY=False
      - ALLOW_RESET=True
      - IS_PERSISTENT=TRUE
    ports:
      - ${CHROMA_PORT}:8000
    networks:
      - test_net

volumes:
  test_index_data:
    driver: local
  test_backups:
    driver: local
