fastapi==0.85.1
uvicorn[standard]==0.18.3
pyarrow==9.0.0
requests==2.28.1
numpy==1.21.6
pandas==1.5.1
duckdb==0.5.1
hnswlib @ git+https://oauth2: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@github.com/chroma-core/hnswlib.git
hdbscan==0.8.29
redis==3.5.3
celery==4.4.7
clickhouse_driver==0.2.4
posthog==2.1.2
uuid==1.30
sentry_sdk==1.10.1
pydantic==1.9.0
