black==23.3.0 # match what's in pyproject.toml
build
chroma-hnswlib==0.7.6
fastapi>=0.115.9
grpcio-tools==1.67.1 # Later version not compatible with protobuf 4.25.5
httpx
hypothesis==6.112.2 # TODO: Resolve breaking changes and bump version
hypothesis[numpy]==6.112.2 # TODO: Resolve breaking changes and bump version
maturin>=1.0
mmh3
mypy-protobuf
opentelemetry-instrumentation-fastapi>=0.41b0
pandas
pre-commit
protobuf==5.28.0 # Later version not compatible with opentelemetry 1.27.0
psutil
pytest
pytest-asyncio
pytest-rerunfailures
pytest-xdist
setuptools_scm
snowballstemmer
types-protobuf
