black==23.3.0 # match what's in pyproject.toml
build
grpcio-tools
httpx
hypothesis
hypothesis[numpy]
mypy-protobuf
pre-commit
pytest
pytest-asyncio
setuptools_scm
types-protobuf
types-requests==2.30.0.0
