black==23.3.0 # match what's in pyproject.toml
build
grpcio-tools
httpx
hypothesis>=6.103.1
hypothesis[numpy]>=6.103.1
mypy-protobuf
pre-commit
pytest
pytest-asyncio
pytest-xdist
setuptools_scm
types-protobuf
types-requests==2.30.0.0
