bcrypt==4.0.1
chroma-hnswlib==0.7.3
fastapi>=0.95.2
graphlib_backport==1.0.3; python_version < '3.9'
grpcio==1.58.0
importlib-resources
numpy==1.21.6; python_version < '3.8'
numpy>=1.22.4; python_version >= '3.8'
onnxruntime>=1.14.1
overrides==7.3.1
posthog==2.4.0
pulsar-client==3.1.0
pydantic>=1.9
pypika==0.48.9
requests==2.28.1
tokenizers==0.13.2
tqdm==4.65.0
typer>=0.9.0
typing_extensions>=4.5.0
uvicorn[standard]==0.18.3
