httpx>=0.27.0
numpy >= 1.22.5
opentelemetry-api>=1.2.0
opentelemetry-exporter-otlp-proto-grpc>=1.2.0
opentelemetry-sdk>=1.2.0
orjson>=3.9.12
overrides >= 7.3.1
posthog>=2.4.0,<6.0.0
pybase64>=1.4.1
pydantic>=1.9
PyYAML>=6.0.0
tenacity>=8.2.3
typing_extensions >= 4.5.0
