[package]
name = "frontend"
version = "0.1.0"
edition = "2021"

[[bin]]
name = "frontend_service"
path = "src/bin/frontend_service.rs"

[dependencies]
tokio = { workspace = true }
axum = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
async-trait = { workspace = true }
figment = { workspace = true }
uuid = { workspace = true }
tonic = { workspace = true }
tracing = { workspace = true }
tower = { workspace = true }
thiserror = { workspace = true }
tower-http = { workspace = true }

chroma-config = { workspace = true }
chroma-types = { workspace = true }
chroma-sysdb = { workspace = true }
chroma-error = { workspace = true }
chroma-tracing = { workspace = true }
mdac = { workspace = true }
chroma-cache = { workspace = true }
chroma-log = { workspace = true }
