OPENAI_API_KEY=sk-xxxxx
COHERE_API_KEY=xxxx
HF_API_KEY=hf_xxxx
CF_ACCOUNT_ID=xxxxx
CF_GATEWAY_ENDPOINT=https://gateway.ai.cloudflare.com/v1/xxxxxxx/chroma/workers-ai
CF_API_TOKEN=xxxxx
TOGETHER_API_KEY=xxxx
VOYAGE_API_KEY=pa-xxxx
GEMINI_API_KEY=xxxxx
MISTRAL_API_KEY=xxx
NOMIC_API_KEY=nk-xxxx
JINA_API_KEY=jina_xxxxx
CHROMA_API_KEY=ck-xxxxx
CHROMA_TENANT=xxxxx
CHROMA_DATABASE=xxxxx
MORPH_API_KEY=sk-xxxxxx
ROBOFLOW_API_KEY=rf-xxxxx
