service_name: "garbage-collector"
otel_endpoint: "http://otel-collector:4317"
otel_filters:
  - crate_name: "garbage_collector"
    filter_level: "debug"
relative_cutoff_time_seconds: 43200 # GC all versions created at time < now() - relative_cutoff_time_seconds (12 hours)
max_collections_to_gc: 1000 # Maximum number of collections to GC in one run
max_attached_functions_to_gc_per_run: 100 # Maximum number of attached functions to garbage collect per run
gc_interval_mins: 120 # Run GC every x mins
disallow_collections: [] # collection ids to disable GC on
sysdb_config:
  host: "sysdb.chroma"
  port: 50051
  connect_timeout_ms: 60000
  request_timeout_ms: 60000
dispatcher_config:
  num_worker_threads: 4
  dispatcher_queue_size: 100
  worker_queue_size: 100
  task_queue_limit: 1000
  active_io_tasks: 1000
storage_config:
  s3:
    bucket: "chroma-storage"
    credentials: "Minio"
    connect_timeout_ms: 5000
    request_timeout_ms: 30000 # 1 minute
    upload_part_size_bytes: 536870912 # 512MiB
    download_part_size_bytes: 8388608 # 8MiB
assignment_policy:
  rendezvous_hashing:
    hasher: Murmur3
my_member_id: "garbage-collector-0"
memberlist_provider:
  custom_resource:
    kube_namespace: "chroma"
    memberlist_name: "garbage-collection-service-memberlist"
    queue_size: 100
log:
  grpc:
    host: "logservice.chroma"
    port: 50051
    connect_timeout_ms: 5000
    request_timeout_ms: 5000
    alt_host: "rust-log-service.chroma"
    alt_host_threshold: "ffffffff-ffff-ffff-ffff-ffffffffffff"
