service_name: "garbage-collector"
otel_endpoint: "http://otel-collector:4317"
cutoff_time_hours: 12 # GC all versions created at time < now() - cutoff_time_hours
max_collections_to_gc: 1000 # Maximum number of collections to GC in one run
gc_interval_mins: 120 # Run GC every x mins
disallow_collections: [] # collection ids to disable GC on
sysdb_config:
  host: "sysdb.chroma"
  port: 50051
  connect_timeout_ms: 60000
  request_timeout_ms: 60000
dispatcher_config:
  num_worker_threads: 4
  dispatcher_queue_size: 100
  worker_queue_size: 100
  task_queue_limit: 1000
  active_io_tasks: 1000
storage_config:
  s3:
    bucket: "chroma-storage"
    credentials: "Minio"
    connect_timeout_ms: 5000
    request_timeout_ms: 30000 # 1 minute
    upload_part_size_bytes: 536870912 # 512MiB
    download_part_size_bytes: 8388608 # 8MiB
