[package]
name = "chroma-system"
version = "0.1.0"
edition = "2021"

[lib]
path = "src/lib.rs"

[dependencies]
thiserror = { workspace = true }
async-trait = { workspace = true }
futures = { workspace = true }
parking_lot = { workspace = true }
tracing = { workspace = true }
tokio = { workspace = true }
tokio-util = { workspace = true }
serde = { workspace = true }
uuid = { workspace = true }
rand = { workspace = true }
tempfile = { workspace = true }

chroma-error = { workspace = true }
chroma-config = { workspace = true }
opentelemetry = { workspace = true }
