.logo * {
    pointer-events: none;
}

.logo circle {
    --radius: 10;
    --circumference: calc(2 * var(--radius) * 3.14);
    stroke-dasharray: var(--circumference) 1e100;
    stroke-dashoffset: calc(var(--circumference) - 10);
    transition-property: stroke-dashoffset transform;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
}

.logo:hover circle {
    stroke-dashoffset: 22;
}

.left {
    transform-origin: center;
    transform-box: fill-box;
    transform: scaleY(-1) rotate(45deg);
}

.right {
    transform-origin: center;
    transform-box: fill-box;
    transform: scaleY(-1) rotate(-135deg);
}
