.markdown p {
  text-justify: kashida;
}

.markdown a {
  text-decoration: underline;
  padding-bottom: .1em;
}

.markdown strong {
  font-weight: 600;
}

.markdown h1 {
  font-size: 110%;
  margin-bottom: 0.3em;
  font-weight: 500;
  font-family: var(--font-display);
}

.markdown hr {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  width: 100%;
}

.markdown code {
  background-color: var(--background-secondary);
  font-family: var(--font-mono);
  padding: 0.05em 0.1em;
  border-radius: 3px;
}

.markdown ul {
  list-style-type: disc;
  padding-left: 1.2em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  font-size: 0.95em;
}

.markdown ul li {
  margin-bottom: 0.2em;
}

.markdown ol {
  list-style-type: decimal;
  padding-left: 1.2em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  font-size: 0.95em;
}

.markdown ol li {
  margin-bottom: 0.2em;
}
