=begin
#chroma-frontend

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 6.6.0

=end

require 'cgi'

module Chromadb
  class DefaultApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Attach a function to a collection
    # @param tenant [Object] Tenant ID
    # @param database [Object] Database name
    # @param collection_id [Object] Collection ID
    # @param attach_function_request [AttachFunctionRequest] 
    # @param [Hash] opts the optional parameters
    # @return [AttachFunctionResponse]
    def attach_function(tenant, database, collection_id, attach_function_request, opts = {})
      data, _status_code, _headers = attach_function_with_http_info(tenant, database, collection_id, attach_function_request, opts)
      data
    end

    # Attach a function to a collection
    # @param tenant [Object] Tenant ID
    # @param database [Object] Database name
    # @param collection_id [Object] Collection ID
    # @param attach_function_request [AttachFunctionRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AttachFunctionResponse, Integer, Hash)>] AttachFunctionResponse data, response status code and response headers
    def attach_function_with_http_info(tenant, database, collection_id, attach_function_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.attach_function ...'
      end
      # verify the required parameter 'tenant' is set
      if @api_client.config.client_side_validation && tenant.nil?
        fail ArgumentError, "Missing the required parameter 'tenant' when calling DefaultApi.attach_function"
      end
      # verify the required parameter 'database' is set
      if @api_client.config.client_side_validation && database.nil?
        fail ArgumentError, "Missing the required parameter 'database' when calling DefaultApi.attach_function"
      end
      # verify the required parameter 'collection_id' is set
      if @api_client.config.client_side_validation && collection_id.nil?
        fail ArgumentError, "Missing the required parameter 'collection_id' when calling DefaultApi.attach_function"
      end
      # verify the required parameter 'attach_function_request' is set
      if @api_client.config.client_side_validation && attach_function_request.nil?
        fail ArgumentError, "Missing the required parameter 'attach_function_request' when calling DefaultApi.attach_function"
      end
      # resource path
      local_var_path = '/api/v2/tenants/{tenant}/databases/{database}/collections/{collection_id}/functions/attach'.sub('{' + 'tenant' + '}', CGI.escape(tenant.to_s)).sub('{' + 'database' + '}', CGI.escape(database.to_s)).sub('{' + 'collection_id' + '}', CGI.escape(collection_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(attach_function_request)

      # return_type
      return_type = opts[:debug_return_type] || 'AttachFunctionResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DefaultApi.attach_function",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#attach_function\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Adds records to a collection.
    # @param tenant [Object] 
    # @param database [Object] 
    # @param collection_id [Object] 
    # @param add_collection_records_payload [AddCollectionRecordsPayload] 
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def collection_add(tenant, database, collection_id, add_collection_records_payload, opts = {})
      data, _status_code, _headers = collection_add_with_http_info(tenant, database, collection_id, add_collection_records_payload, opts)
      data
    end

    # Adds records to a collection.
    # @param tenant [Object] 
    # @param database [Object] 
    # @param collection_id [Object] 
    # @param add_collection_records_payload [AddCollectionRecordsPayload] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def collection_add_with_http_info(tenant, database, collection_id, add_collection_records_payload, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.collection_add ...'
      end
      # verify the required parameter 'tenant' is set
      if @api_client.config.client_side_validation && tenant.nil?
        fail ArgumentError, "Missing the required parameter 'tenant' when calling DefaultApi.collection_add"
      end
      # verify the required parameter 'database' is set
      if @api_client.config.client_side_validation && database.nil?
        fail ArgumentError, "Missing the required parameter 'database' when calling DefaultApi.collection_add"
      end
      # verify the required parameter 'collection_id' is set
      if @api_client.config.client_side_validation && collection_id.nil?
        fail ArgumentError, "Missing the required parameter 'collection_id' when calling DefaultApi.collection_add"
      end
      # verify the required parameter 'add_collection_records_payload' is set
      if @api_client.config.client_side_validation && add_collection_records_payload.nil?
        fail ArgumentError, "Missing the required parameter 'add_collection_records_payload' when calling DefaultApi.collection_add"
      end
      # resource path
      local_var_path = '/api/v2/tenants/{tenant}/databases/{database}/collections/{collection_id}/add'.sub('{' + 'tenant' + '}', CGI.escape(tenant.to_s)).sub('{' + 'database' + '}', CGI.escape(database.to_s)).sub('{' + 'collection_id' + '}', CGI.escape(collection_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(add_collection_records_payload)

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DefaultApi.collection_add",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#collection_add\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieves the number of records in a collection.
    # @param tenant [Object] Tenant ID for the collection
    # @param database [Object] Database containing this collection
    # @param collection_id [Object] Collection ID whose records are counted
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def collection_count(tenant, database, collection_id, opts = {})
      data, _status_code, _headers = collection_count_with_http_info(tenant, database, collection_id, opts)
      data
    end

    # Retrieves the number of records in a collection.
    # @param tenant [Object] Tenant ID for the collection
    # @param database [Object] Database containing this collection
    # @param collection_id [Object] Collection ID whose records are counted
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def collection_count_with_http_info(tenant, database, collection_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.collection_count ...'
      end
      # verify the required parameter 'tenant' is set
      if @api_client.config.client_side_validation && tenant.nil?
        fail ArgumentError, "Missing the required parameter 'tenant' when calling DefaultApi.collection_count"
      end
      # verify the required parameter 'database' is set
      if @api_client.config.client_side_validation && database.nil?
        fail ArgumentError, "Missing the required parameter 'database' when calling DefaultApi.collection_count"
      end
      # verify the required parameter 'collection_id' is set
      if @api_client.config.client_side_validation && collection_id.nil?
        fail ArgumentError, "Missing the required parameter 'collection_id' when calling DefaultApi.collection_count"
      end
      # resource path
      local_var_path = '/api/v2/tenants/{tenant}/databases/{database}/collections/{collection_id}/count'.sub('{' + 'tenant' + '}', CGI.escape(tenant.to_s)).sub('{' + 'database' + '}', CGI.escape(database.to_s)).sub('{' + 'collection_id' + '}', CGI.escape(collection_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DefaultApi.collection_count",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#collection_count\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Deletes records in a collection. Can filter by IDs or metadata.
    # @param tenant [Object] Tenant ID
    # @param database [Object] Database name
    # @param collection_id [Object] Collection ID
    # @param body [Object] 
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def collection_delete(tenant, database, collection_id, body, opts = {})
      data, _status_code, _headers = collection_delete_with_http_info(tenant, database, collection_id, body, opts)
      data
    end

    # Deletes records in a collection. Can filter by IDs or metadata.
    # @param tenant [Object] Tenant ID
    # @param database [Object] Database name
    # @param collection_id [Object] Collection ID
    # @param body [Object] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def collection_delete_with_http_info(tenant, database, collection_id, body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.collection_delete ...'
      end
      # verify the required parameter 'tenant' is set
      if @api_client.config.client_side_validation && tenant.nil?
        fail ArgumentError, "Missing the required parameter 'tenant' when calling DefaultApi.collection_delete"
      end
      # verify the required parameter 'database' is set
      if @api_client.config.client_side_validation && database.nil?
        fail ArgumentError, "Missing the required parameter 'database' when calling DefaultApi.collection_delete"
      end
      # verify the required parameter 'collection_id' is set
      if @api_client.config.client_side_validation && collection_id.nil?
        fail ArgumentError, "Missing the required parameter 'collection_id' when calling DefaultApi.collection_delete"
      end
      # resource path
      local_var_path = '/api/v2/tenants/{tenant}/databases/{database}/collections/{collection_id}/delete'.sub('{' + 'tenant' + '}', CGI.escape(tenant.to_s)).sub('{' + 'database' + '}', CGI.escape(database.to_s)).sub('{' + 'collection_id' + '}', CGI.escape(collection_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DefaultApi.collection_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#collection_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieves records from a collection by ID or metadata filter.
    # @param tenant [Object] Tenant ID
    # @param database [Object] Database name for the collection
    # @param collection_id [Object] Collection ID to fetch records from
    # @param body [Object] 
    # @param [Hash] opts the optional parameters
    # @return [GetResponse]
    def collection_get(tenant, database, collection_id, body, opts = {})
      data, _status_code, _headers = collection_get_with_http_info(tenant, database, collection_id, body, opts)
      data
    end

    # Retrieves records from a collection by ID or metadata filter.
    # @param tenant [Object] Tenant ID
    # @param database [Object] Database name for the collection
    # @param collection_id [Object] Collection ID to fetch records from
    # @param body [Object] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetResponse, Integer, Hash)>] GetResponse data, response status code and response headers
    def collection_get_with_http_info(tenant, database, collection_id, body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.collection_get ...'
      end
      # verify the required parameter 'tenant' is set
      if @api_client.config.client_side_validation && tenant.nil?
        fail ArgumentError, "Missing the required parameter 'tenant' when calling DefaultApi.collection_get"
      end
      # verify the required parameter 'database' is set
      if @api_client.config.client_side_validation && database.nil?
        fail ArgumentError, "Missing the required parameter 'database' when calling DefaultApi.collection_get"
      end
      # verify the required parameter 'collection_id' is set
      if @api_client.config.client_side_validation && collection_id.nil?
        fail ArgumentError, "Missing the required parameter 'collection_id' when calling DefaultApi.collection_get"
      end
      # resource path
      local_var_path = '/api/v2/tenants/{tenant}/databases/{database}/collections/{collection_id}/get'.sub('{' + 'tenant' + '}', CGI.escape(tenant.to_s)).sub('{' + 'database' + '}', CGI.escape(database.to_s)).sub('{' + 'collection_id' + '}', CGI.escape(collection_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'GetResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DefaultApi.collection_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#collection_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Query a collection in a variety of ways, including vector search, metadata filtering, and full-text search
    # @param tenant [Object] Tenant ID
    # @param database [Object] Database name containing the collection
    # @param collection_id [Object] Collection ID to query
    # @param body [Object] 
    # @param [Hash] opts the optional parameters
    # @option opts [Object] :limit Limit for pagination
    # @option opts [Object] :offset Offset for pagination
    # @return [QueryResponse]
    def collection_query(tenant, database, collection_id, body, opts = {})
      data, _status_code, _headers = collection_query_with_http_info(tenant, database, collection_id, body, opts)
      data
    end

    # Query a collection in a variety of ways, including vector search, metadata filtering, and full-text search
    # @param tenant [Object] Tenant ID
    # @param database [Object] Database name containing the collection
    # @param collection_id [Object] Collection ID to query
    # @param body [Object] 
    # @param [Hash] opts the optional parameters
    # @option opts [Object] :limit Limit for pagination
    # @option opts [Object] :offset Offset for pagination
    # @return [Array<(QueryResponse, Integer, Hash)>] QueryResponse data, response status code and response headers
    def collection_query_with_http_info(tenant, database, collection_id, body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.collection_query ...'
      end
      # verify the required parameter 'tenant' is set
      if @api_client.config.client_side_validation && tenant.nil?
        fail ArgumentError, "Missing the required parameter 'tenant' when calling DefaultApi.collection_query"
      end
      # verify the required parameter 'database' is set
      if @api_client.config.client_side_validation && database.nil?
        fail ArgumentError, "Missing the required parameter 'database' when calling DefaultApi.collection_query"
      end
      # verify the required parameter 'collection_id' is set
      if @api_client.config.client_side_validation && collection_id.nil?
        fail ArgumentError, "Missing the required parameter 'collection_id' when calling DefaultApi.collection_query"
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 0
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling DefaultApi.collection_query, must be greater than or equal to 0.'
      end

      if @api_client.config.client_side_validation && !opts[:'offset'].nil? && opts[:'offset'] < 0
        fail ArgumentError, 'invalid value for "opts[:"offset"]" when calling DefaultApi.collection_query, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/api/v2/tenants/{tenant}/databases/{database}/collections/{collection_id}/query'.sub('{' + 'tenant' + '}', CGI.escape(tenant.to_s)).sub('{' + 'database' + '}', CGI.escape(database.to_s)).sub('{' + 'collection_id' + '}', CGI.escape(collection_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'QueryResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DefaultApi.collection_query",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#collection_query\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search records from a collection with hybrid criterias.
    # @param tenant [Object] Tenant ID
    # @param database [Object] Database name for the collection
    # @param collection_id [Object] Collection ID to search records from
    # @param search_request_payload [SearchRequestPayload] 
    # @param [Hash] opts the optional parameters
    # @return [SearchResponse]
    def collection_search(tenant, database, collection_id, search_request_payload, opts = {})
      data, _status_code, _headers = collection_search_with_http_info(tenant, database, collection_id, search_request_payload, opts)
      data
    end

    # Search records from a collection with hybrid criterias.
    # @param tenant [Object] Tenant ID
    # @param database [Object] Database name for the collection
    # @param collection_id [Object] Collection ID to search records from
    # @param search_request_payload [SearchRequestPayload] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SearchResponse, Integer, Hash)>] SearchResponse data, response status code and response headers
    def collection_search_with_http_info(tenant, database, collection_id, search_request_payload, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.collection_search ...'
      end
      # verify the required parameter 'tenant' is set
      if @api_client.config.client_side_validation && tenant.nil?
        fail ArgumentError, "Missing the required parameter 'tenant' when calling DefaultApi.collection_search"
      end
      # verify the required parameter 'database' is set
      if @api_client.config.client_side_validation && database.nil?
        fail ArgumentError, "Missing the required parameter 'database' when calling DefaultApi.collection_search"
      end
      # verify the required parameter 'collection_id' is set
      if @api_client.config.client_side_validation && collection_id.nil?
        fail ArgumentError, "Missing the required parameter 'collection_id' when calling DefaultApi.collection_search"
      end
      # verify the required parameter 'search_request_payload' is set
      if @api_client.config.client_side_validation && search_request_payload.nil?
        fail ArgumentError, "Missing the required parameter 'search_request_payload' when calling DefaultApi.collection_search"
      end
      # resource path
      local_var_path = '/api/v2/tenants/{tenant}/databases/{database}/collections/{collection_id}/search'.sub('{' + 'tenant' + '}', CGI.escape(tenant.to_s)).sub('{' + 'database' + '}', CGI.escape(database.to_s)).sub('{' + 'collection_id' + '}', CGI.escape(collection_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(search_request_payload)

      # return_type
      return_type = opts[:debug_return_type] || 'SearchResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DefaultApi.collection_search",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#collection_search\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Updates records in a collection by ID.
    # @param tenant [Object] 
    # @param database [Object] 
    # @param collection_id [Object] 
    # @param update_collection_records_payload [UpdateCollectionRecordsPayload] 
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def collection_update(tenant, database, collection_id, update_collection_records_payload, opts = {})
      data, _status_code, _headers = collection_update_with_http_info(tenant, database, collection_id, update_collection_records_payload, opts)
      data
    end

    # Updates records in a collection by ID.
    # @param tenant [Object] 
    # @param database [Object] 
    # @param collection_id [Object] 
    # @param update_collection_records_payload [UpdateCollectionRecordsPayload] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def collection_update_with_http_info(tenant, database, collection_id, update_collection_records_payload, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.collection_update ...'
      end
      # verify the required parameter 'tenant' is set
      if @api_client.config.client_side_validation && tenant.nil?
        fail ArgumentError, "Missing the required parameter 'tenant' when calling DefaultApi.collection_update"
      end
      # verify the required parameter 'database' is set
      if @api_client.config.client_side_validation && database.nil?
        fail ArgumentError, "Missing the required parameter 'database' when calling DefaultApi.collection_update"
      end
      # verify the required parameter 'collection_id' is set
      if @api_client.config.client_side_validation && collection_id.nil?
        fail ArgumentError, "Missing the required parameter 'collection_id' when calling DefaultApi.collection_update"
      end
      # verify the required parameter 'update_collection_records_payload' is set
      if @api_client.config.client_side_validation && update_collection_records_payload.nil?
        fail ArgumentError, "Missing the required parameter 'update_collection_records_payload' when calling DefaultApi.collection_update"
      end
      # resource path
      local_var_path = '/api/v2/tenants/{tenant}/databases/{database}/collections/{collection_id}/update'.sub('{' + 'tenant' + '}', CGI.escape(tenant.to_s)).sub('{' + 'database' + '}', CGI.escape(database.to_s)).sub('{' + 'collection_id' + '}', CGI.escape(collection_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_collection_records_payload)

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DefaultApi.collection_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#collection_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Upserts records in a collection (create if not exists, otherwise update).
    # @param tenant [Object] Tenant ID
    # @param database [Object] Database name
    # @param collection_id [Object] Collection ID
    # @param upsert_collection_records_payload [UpsertCollectionRecordsPayload] 
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def collection_upsert(tenant, database, collection_id, upsert_collection_records_payload, opts = {})
      data, _status_code, _headers = collection_upsert_with_http_info(tenant, database, collection_id, upsert_collection_records_payload, opts)
      data
    end

    # Upserts records in a collection (create if not exists, otherwise update).
    # @param tenant [Object] Tenant ID
    # @param database [Object] Database name
    # @param collection_id [Object] Collection ID
    # @param upsert_collection_records_payload [UpsertCollectionRecordsPayload] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def collection_upsert_with_http_info(tenant, database, collection_id, upsert_collection_records_payload, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.collection_upsert ...'
      end
      # verify the required parameter 'tenant' is set
      if @api_client.config.client_side_validation && tenant.nil?
        fail ArgumentError, "Missing the required parameter 'tenant' when calling DefaultApi.collection_upsert"
      end
      # verify the required parameter 'database' is set
      if @api_client.config.client_side_validation && database.nil?
        fail ArgumentError, "Missing the required parameter 'database' when calling DefaultApi.collection_upsert"
      end
      # verify the required parameter 'collection_id' is set
      if @api_client.config.client_side_validation && collection_id.nil?
        fail ArgumentError, "Missing the required parameter 'collection_id' when calling DefaultApi.collection_upsert"
      end
      # verify the required parameter 'upsert_collection_records_payload' is set
      if @api_client.config.client_side_validation && upsert_collection_records_payload.nil?
        fail ArgumentError, "Missing the required parameter 'upsert_collection_records_payload' when calling DefaultApi.collection_upsert"
      end
      # resource path
      local_var_path = '/api/v2/tenants/{tenant}/databases/{database}/collections/{collection_id}/upsert'.sub('{' + 'tenant' + '}', CGI.escape(tenant.to_s)).sub('{' + 'database' + '}', CGI.escape(database.to_s)).sub('{' + 'collection_id' + '}', CGI.escape(collection_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(upsert_collection_records_payload)

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DefaultApi.collection_upsert",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#collection_upsert\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieves the total number of collections in a given database.
    # @param tenant [Object] Tenant ID
    # @param database [Object] Database name to count collections from
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def count_collections(tenant, database, opts = {})
      data, _status_code, _headers = count_collections_with_http_info(tenant, database, opts)
      data
    end

    # Retrieves the total number of collections in a given database.
    # @param tenant [Object] Tenant ID
    # @param database [Object] Database name to count collections from
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def count_collections_with_http_info(tenant, database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.count_collections ...'
      end
      # verify the required parameter 'tenant' is set
      if @api_client.config.client_side_validation && tenant.nil?
        fail ArgumentError, "Missing the required parameter 'tenant' when calling DefaultApi.count_collections"
      end
      # verify the required parameter 'database' is set
      if @api_client.config.client_side_validation && database.nil?
        fail ArgumentError, "Missing the required parameter 'database' when calling DefaultApi.count_collections"
      end
      # resource path
      local_var_path = '/api/v2/tenants/{tenant}/databases/{database}/collections_count'.sub('{' + 'tenant' + '}', CGI.escape(tenant.to_s)).sub('{' + 'database' + '}', CGI.escape(database.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DefaultApi.count_collections",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#count_collections\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Creates a new collection under the specified database.
    # @param tenant [Object] Tenant ID
    # @param database [Object] Database name containing the new collection
    # @param create_collection_payload [CreateCollectionPayload] 
    # @param [Hash] opts the optional parameters
    # @return [Collection]
    def create_collection(tenant, database, create_collection_payload, opts = {})
      data, _status_code, _headers = create_collection_with_http_info(tenant, database, create_collection_payload, opts)
      data
    end

    # Creates a new collection under the specified database.
    # @param tenant [Object] Tenant ID
    # @param database [Object] Database name containing the new collection
    # @param create_collection_payload [CreateCollectionPayload] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Collection, Integer, Hash)>] Collection data, response status code and response headers
    def create_collection_with_http_info(tenant, database, create_collection_payload, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.create_collection ...'
      end
      # verify the required parameter 'tenant' is set
      if @api_client.config.client_side_validation && tenant.nil?
        fail ArgumentError, "Missing the required parameter 'tenant' when calling DefaultApi.create_collection"
      end
      # verify the required parameter 'database' is set
      if @api_client.config.client_side_validation && database.nil?
        fail ArgumentError, "Missing the required parameter 'database' when calling DefaultApi.create_collection"
      end
      # verify the required parameter 'create_collection_payload' is set
      if @api_client.config.client_side_validation && create_collection_payload.nil?
        fail ArgumentError, "Missing the required parameter 'create_collection_payload' when calling DefaultApi.create_collection"
      end
      # resource path
      local_var_path = '/api/v2/tenants/{tenant}/databases/{database}/collections'.sub('{' + 'tenant' + '}', CGI.escape(tenant.to_s)).sub('{' + 'database' + '}', CGI.escape(database.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_collection_payload)

      # return_type
      return_type = opts[:debug_return_type] || 'Collection'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DefaultApi.create_collection",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#create_collection\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Creates a new database for a given tenant.
    # @param tenant [Object] Tenant ID to associate with the new database
    # @param create_database_payload [CreateDatabasePayload] 
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def create_database(tenant, create_database_payload, opts = {})
      data, _status_code, _headers = create_database_with_http_info(tenant, create_database_payload, opts)
      data
    end

    # Creates a new database for a given tenant.
    # @param tenant [Object] Tenant ID to associate with the new database
    # @param create_database_payload [CreateDatabasePayload] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def create_database_with_http_info(tenant, create_database_payload, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.create_database ...'
      end
      # verify the required parameter 'tenant' is set
      if @api_client.config.client_side_validation && tenant.nil?
        fail ArgumentError, "Missing the required parameter 'tenant' when calling DefaultApi.create_database"
      end
      # verify the required parameter 'create_database_payload' is set
      if @api_client.config.client_side_validation && create_database_payload.nil?
        fail ArgumentError, "Missing the required parameter 'create_database_payload' when calling DefaultApi.create_database"
      end
      # resource path
      local_var_path = '/api/v2/tenants/{tenant}/databases'.sub('{' + 'tenant' + '}', CGI.escape(tenant.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_database_payload)

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DefaultApi.create_database",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#create_database\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Creates a new tenant.
    # @param create_tenant_payload [CreateTenantPayload] 
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def create_tenant(create_tenant_payload, opts = {})
      data, _status_code, _headers = create_tenant_with_http_info(create_tenant_payload, opts)
      data
    end

    # Creates a new tenant.
    # @param create_tenant_payload [CreateTenantPayload] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def create_tenant_with_http_info(create_tenant_payload, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.create_tenant ...'
      end
      # verify the required parameter 'create_tenant_payload' is set
      if @api_client.config.client_side_validation && create_tenant_payload.nil?
        fail ArgumentError, "Missing the required parameter 'create_tenant_payload' when calling DefaultApi.create_tenant"
      end
      # resource path
      local_var_path = '/api/v2/tenants'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_tenant_payload)

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DefaultApi.create_tenant",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#create_tenant\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Deletes a collection in a given database.
    # @param tenant [Object] Tenant ID
    # @param database [Object] Database name
    # @param collection_id [Object] UUID of the collection to delete
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def delete_collection(tenant, database, collection_id, opts = {})
      data, _status_code, _headers = delete_collection_with_http_info(tenant, database, collection_id, opts)
      data
    end

    # Deletes a collection in a given database.
    # @param tenant [Object] Tenant ID
    # @param database [Object] Database name
    # @param collection_id [Object] UUID of the collection to delete
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def delete_collection_with_http_info(tenant, database, collection_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.delete_collection ...'
      end
      # verify the required parameter 'tenant' is set
      if @api_client.config.client_side_validation && tenant.nil?
        fail ArgumentError, "Missing the required parameter 'tenant' when calling DefaultApi.delete_collection"
      end
      # verify the required parameter 'database' is set
      if @api_client.config.client_side_validation && database.nil?
        fail ArgumentError, "Missing the required parameter 'database' when calling DefaultApi.delete_collection"
      end
      # verify the required parameter 'collection_id' is set
      if @api_client.config.client_side_validation && collection_id.nil?
        fail ArgumentError, "Missing the required parameter 'collection_id' when calling DefaultApi.delete_collection"
      end
      # resource path
      local_var_path = '/api/v2/tenants/{tenant}/databases/{database}/collections/{collection_id}'.sub('{' + 'tenant' + '}', CGI.escape(tenant.to_s)).sub('{' + 'database' + '}', CGI.escape(database.to_s)).sub('{' + 'collection_id' + '}', CGI.escape(collection_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DefaultApi.delete_collection",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#delete_collection\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Deletes a specific database.
    # @param tenant [Object] Tenant ID
    # @param database [Object] Name of the database to delete
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def delete_database(tenant, database, opts = {})
      data, _status_code, _headers = delete_database_with_http_info(tenant, database, opts)
      data
    end

    # Deletes a specific database.
    # @param tenant [Object] Tenant ID
    # @param database [Object] Name of the database to delete
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def delete_database_with_http_info(tenant, database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.delete_database ...'
      end
      # verify the required parameter 'tenant' is set
      if @api_client.config.client_side_validation && tenant.nil?
        fail ArgumentError, "Missing the required parameter 'tenant' when calling DefaultApi.delete_database"
      end
      # verify the required parameter 'database' is set
      if @api_client.config.client_side_validation && database.nil?
        fail ArgumentError, "Missing the required parameter 'database' when calling DefaultApi.delete_database"
      end
      # resource path
      local_var_path = '/api/v2/tenants/{tenant}/databases/{database}'.sub('{' + 'tenant' + '}', CGI.escape(tenant.to_s)).sub('{' + 'database' + '}', CGI.escape(database.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DefaultApi.delete_database",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#delete_database\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Detach a function
    # @param tenant [Object] Tenant ID
    # @param database [Object] Database name
    # @param collection_id [Object] Input collection ID
    # @param name [Object] Attached function name
    # @param detach_function_request [DetachFunctionRequest] 
    # @param [Hash] opts the optional parameters
    # @return [DetachFunctionResponse]
    def detach_function(tenant, database, collection_id, name, detach_function_request, opts = {})
      data, _status_code, _headers = detach_function_with_http_info(tenant, database, collection_id, name, detach_function_request, opts)
      data
    end

    # Detach a function
    # @param tenant [Object] Tenant ID
    # @param database [Object] Database name
    # @param collection_id [Object] Input collection ID
    # @param name [Object] Attached function name
    # @param detach_function_request [DetachFunctionRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DetachFunctionResponse, Integer, Hash)>] DetachFunctionResponse data, response status code and response headers
    def detach_function_with_http_info(tenant, database, collection_id, name, detach_function_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.detach_function ...'
      end
      # verify the required parameter 'tenant' is set
      if @api_client.config.client_side_validation && tenant.nil?
        fail ArgumentError, "Missing the required parameter 'tenant' when calling DefaultApi.detach_function"
      end
      # verify the required parameter 'database' is set
      if @api_client.config.client_side_validation && database.nil?
        fail ArgumentError, "Missing the required parameter 'database' when calling DefaultApi.detach_function"
      end
      # verify the required parameter 'collection_id' is set
      if @api_client.config.client_side_validation && collection_id.nil?
        fail ArgumentError, "Missing the required parameter 'collection_id' when calling DefaultApi.detach_function"
      end
      # verify the required parameter 'name' is set
      if @api_client.config.client_side_validation && name.nil?
        fail ArgumentError, "Missing the required parameter 'name' when calling DefaultApi.detach_function"
      end
      # verify the required parameter 'detach_function_request' is set
      if @api_client.config.client_side_validation && detach_function_request.nil?
        fail ArgumentError, "Missing the required parameter 'detach_function_request' when calling DefaultApi.detach_function"
      end
      # resource path
      local_var_path = '/api/v2/tenants/{tenant}/databases/{database}/collections/{collection_id}/attached_functions/{name}/detach'.sub('{' + 'tenant' + '}', CGI.escape(tenant.to_s)).sub('{' + 'database' + '}', CGI.escape(database.to_s)).sub('{' + 'collection_id' + '}', CGI.escape(collection_id.to_s)).sub('{' + 'name' + '}', CGI.escape(name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(detach_function_request)

      # return_type
      return_type = opts[:debug_return_type] || 'DetachFunctionResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DefaultApi.detach_function",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#detach_function\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Forks an existing collection.
    # @param tenant [Object] Tenant ID
    # @param database [Object] Database name
    # @param collection_id [Object] UUID of the collection to update
    # @param fork_collection_payload [ForkCollectionPayload] 
    # @param [Hash] opts the optional parameters
    # @return [Collection]
    def fork_collection(tenant, database, collection_id, fork_collection_payload, opts = {})
      data, _status_code, _headers = fork_collection_with_http_info(tenant, database, collection_id, fork_collection_payload, opts)
      data
    end

    # Forks an existing collection.
    # @param tenant [Object] Tenant ID
    # @param database [Object] Database name
    # @param collection_id [Object] UUID of the collection to update
    # @param fork_collection_payload [ForkCollectionPayload] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Collection, Integer, Hash)>] Collection data, response status code and response headers
    def fork_collection_with_http_info(tenant, database, collection_id, fork_collection_payload, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.fork_collection ...'
      end
      # verify the required parameter 'tenant' is set
      if @api_client.config.client_side_validation && tenant.nil?
        fail ArgumentError, "Missing the required parameter 'tenant' when calling DefaultApi.fork_collection"
      end
      # verify the required parameter 'database' is set
      if @api_client.config.client_side_validation && database.nil?
        fail ArgumentError, "Missing the required parameter 'database' when calling DefaultApi.fork_collection"
      end
      # verify the required parameter 'collection_id' is set
      if @api_client.config.client_side_validation && collection_id.nil?
        fail ArgumentError, "Missing the required parameter 'collection_id' when calling DefaultApi.fork_collection"
      end
      # verify the required parameter 'fork_collection_payload' is set
      if @api_client.config.client_side_validation && fork_collection_payload.nil?
        fail ArgumentError, "Missing the required parameter 'fork_collection_payload' when calling DefaultApi.fork_collection"
      end
      # resource path
      local_var_path = '/api/v2/tenants/{tenant}/databases/{database}/collections/{collection_id}/fork'.sub('{' + 'tenant' + '}', CGI.escape(tenant.to_s)).sub('{' + 'database' + '}', CGI.escape(database.to_s)).sub('{' + 'collection_id' + '}', CGI.escape(collection_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(fork_collection_payload)

      # return_type
      return_type = opts[:debug_return_type] || 'Collection'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DefaultApi.fork_collection",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#fork_collection\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get an attached function by name
    # @param tenant [Object] Tenant ID
    # @param database [Object] Database name
    # @param collection_id [Object] Collection ID
    # @param function_name [Object] Attached function name
    # @param [Hash] opts the optional parameters
    # @return [GetAttachedFunctionResponse]
    def get_attached_function(tenant, database, collection_id, function_name, opts = {})
      data, _status_code, _headers = get_attached_function_with_http_info(tenant, database, collection_id, function_name, opts)
      data
    end

    # Get an attached function by name
    # @param tenant [Object] Tenant ID
    # @param database [Object] Database name
    # @param collection_id [Object] Collection ID
    # @param function_name [Object] Attached function name
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetAttachedFunctionResponse, Integer, Hash)>] GetAttachedFunctionResponse data, response status code and response headers
    def get_attached_function_with_http_info(tenant, database, collection_id, function_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.get_attached_function ...'
      end
      # verify the required parameter 'tenant' is set
      if @api_client.config.client_side_validation && tenant.nil?
        fail ArgumentError, "Missing the required parameter 'tenant' when calling DefaultApi.get_attached_function"
      end
      # verify the required parameter 'database' is set
      if @api_client.config.client_side_validation && database.nil?
        fail ArgumentError, "Missing the required parameter 'database' when calling DefaultApi.get_attached_function"
      end
      # verify the required parameter 'collection_id' is set
      if @api_client.config.client_side_validation && collection_id.nil?
        fail ArgumentError, "Missing the required parameter 'collection_id' when calling DefaultApi.get_attached_function"
      end
      # verify the required parameter 'function_name' is set
      if @api_client.config.client_side_validation && function_name.nil?
        fail ArgumentError, "Missing the required parameter 'function_name' when calling DefaultApi.get_attached_function"
      end
      # resource path
      local_var_path = '/api/v2/tenants/{tenant}/databases/{database}/collections/{collection_id}/functions/{function_name}'.sub('{' + 'tenant' + '}', CGI.escape(tenant.to_s)).sub('{' + 'database' + '}', CGI.escape(database.to_s)).sub('{' + 'collection_id' + '}', CGI.escape(collection_id.to_s)).sub('{' + 'function_name' + '}', CGI.escape(function_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetAttachedFunctionResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DefaultApi.get_attached_function",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#get_attached_function\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieves a collection by ID or name.
    # @param tenant [Object] Tenant ID
    # @param database [Object] Database name
    # @param collection_id [Object] UUID of the collection
    # @param [Hash] opts the optional parameters
    # @return [Collection]
    def get_collection(tenant, database, collection_id, opts = {})
      data, _status_code, _headers = get_collection_with_http_info(tenant, database, collection_id, opts)
      data
    end

    # Retrieves a collection by ID or name.
    # @param tenant [Object] Tenant ID
    # @param database [Object] Database name
    # @param collection_id [Object] UUID of the collection
    # @param [Hash] opts the optional parameters
    # @return [Array<(Collection, Integer, Hash)>] Collection data, response status code and response headers
    def get_collection_with_http_info(tenant, database, collection_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.get_collection ...'
      end
      # verify the required parameter 'tenant' is set
      if @api_client.config.client_side_validation && tenant.nil?
        fail ArgumentError, "Missing the required parameter 'tenant' when calling DefaultApi.get_collection"
      end
      # verify the required parameter 'database' is set
      if @api_client.config.client_side_validation && database.nil?
        fail ArgumentError, "Missing the required parameter 'database' when calling DefaultApi.get_collection"
      end
      # verify the required parameter 'collection_id' is set
      if @api_client.config.client_side_validation && collection_id.nil?
        fail ArgumentError, "Missing the required parameter 'collection_id' when calling DefaultApi.get_collection"
      end
      # resource path
      local_var_path = '/api/v2/tenants/{tenant}/databases/{database}/collections/{collection_id}'.sub('{' + 'tenant' + '}', CGI.escape(tenant.to_s)).sub('{' + 'database' + '}', CGI.escape(database.to_s)).sub('{' + 'collection_id' + '}', CGI.escape(collection_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Collection'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DefaultApi.get_collection",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#get_collection\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieves a collection by Chroma Resource Name.
    # @param crn [Object] Chroma Resource Name
    # @param [Hash] opts the optional parameters
    # @return [Collection]
    def get_collection_by_crn(crn, opts = {})
      data, _status_code, _headers = get_collection_by_crn_with_http_info(crn, opts)
      data
    end

    # Retrieves a collection by Chroma Resource Name.
    # @param crn [Object] Chroma Resource Name
    # @param [Hash] opts the optional parameters
    # @return [Array<(Collection, Integer, Hash)>] Collection data, response status code and response headers
    def get_collection_by_crn_with_http_info(crn, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.get_collection_by_crn ...'
      end
      # verify the required parameter 'crn' is set
      if @api_client.config.client_side_validation && crn.nil?
        fail ArgumentError, "Missing the required parameter 'crn' when calling DefaultApi.get_collection_by_crn"
      end
      # resource path
      local_var_path = '/api/v2/collections/{crn}'.sub('{' + 'crn' + '}', CGI.escape(crn.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Collection'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DefaultApi.get_collection_by_crn",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#get_collection_by_crn\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieves a specific database by name.
    # @param tenant [Object] Tenant ID
    # @param database [Object] Name of the database to retrieve
    # @param [Hash] opts the optional parameters
    # @return [Database]
    def get_database(tenant, database, opts = {})
      data, _status_code, _headers = get_database_with_http_info(tenant, database, opts)
      data
    end

    # Retrieves a specific database by name.
    # @param tenant [Object] Tenant ID
    # @param database [Object] Name of the database to retrieve
    # @param [Hash] opts the optional parameters
    # @return [Array<(Database, Integer, Hash)>] Database data, response status code and response headers
    def get_database_with_http_info(tenant, database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.get_database ...'
      end
      # verify the required parameter 'tenant' is set
      if @api_client.config.client_side_validation && tenant.nil?
        fail ArgumentError, "Missing the required parameter 'tenant' when calling DefaultApi.get_database"
      end
      # verify the required parameter 'database' is set
      if @api_client.config.client_side_validation && database.nil?
        fail ArgumentError, "Missing the required parameter 'database' when calling DefaultApi.get_database"
      end
      # resource path
      local_var_path = '/api/v2/tenants/{tenant}/databases/{database}'.sub('{' + 'tenant' + '}', CGI.escape(tenant.to_s)).sub('{' + 'database' + '}', CGI.escape(database.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Database'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DefaultApi.get_database",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#get_database\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Returns an existing tenant by name.
    # @param tenant_name [Object] Tenant to retrieve
    # @param [Hash] opts the optional parameters
    # @return [GetTenantResponse]
    def get_tenant(tenant_name, opts = {})
      data, _status_code, _headers = get_tenant_with_http_info(tenant_name, opts)
      data
    end

    # Returns an existing tenant by name.
    # @param tenant_name [Object] Tenant to retrieve
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetTenantResponse, Integer, Hash)>] GetTenantResponse data, response status code and response headers
    def get_tenant_with_http_info(tenant_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.get_tenant ...'
      end
      # verify the required parameter 'tenant_name' is set
      if @api_client.config.client_side_validation && tenant_name.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_name' when calling DefaultApi.get_tenant"
      end
      # resource path
      local_var_path = '/api/v2/tenants/{tenant_name}'.sub('{' + 'tenant_name' + '}', CGI.escape(tenant_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetTenantResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DefaultApi.get_tenant",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#get_tenant\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieves the current user's identity, tenant, and databases.
    # @param [Hash] opts the optional parameters
    # @return [GetUserIdentityResponse]
    def get_user_identity(opts = {})
      data, _status_code, _headers = get_user_identity_with_http_info(opts)
      data
    end

    # Retrieves the current user&#39;s identity, tenant, and databases.
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetUserIdentityResponse, Integer, Hash)>] GetUserIdentityResponse data, response status code and response headers
    def get_user_identity_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.get_user_identity ...'
      end
      # resource path
      local_var_path = '/api/v2/auth/identity'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetUserIdentityResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DefaultApi.get_user_identity",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#get_user_identity\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Health check endpoint that returns 200 if the server and executor are ready
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def healthcheck(opts = {})
      data, _status_code, _headers = healthcheck_with_http_info(opts)
      data
    end

    # Health check endpoint that returns 200 if the server and executor are ready
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def healthcheck_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.healthcheck ...'
      end
      # resource path
      local_var_path = '/api/v2/healthcheck'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DefaultApi.healthcheck",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#healthcheck\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Heartbeat endpoint that returns a nanosecond timestamp of the current time.
    # @param [Hash] opts the optional parameters
    # @return [HeartbeatResponse]
    def heartbeat(opts = {})
      data, _status_code, _headers = heartbeat_with_http_info(opts)
      data
    end

    # Heartbeat endpoint that returns a nanosecond timestamp of the current time.
    # @param [Hash] opts the optional parameters
    # @return [Array<(HeartbeatResponse, Integer, Hash)>] HeartbeatResponse data, response status code and response headers
    def heartbeat_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.heartbeat ...'
      end
      # resource path
      local_var_path = '/api/v2/heartbeat'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'HeartbeatResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DefaultApi.heartbeat",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#heartbeat\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Lists all collections in the specified database.
    # @param tenant [Object] Tenant ID
    # @param database [Object] Database name to list collections from
    # @param [Hash] opts the optional parameters
    # @option opts [Object] :limit Limit for pagination
    # @option opts [Object] :offset Offset for pagination
    # @return [Object]
    def list_collections(tenant, database, opts = {})
      data, _status_code, _headers = list_collections_with_http_info(tenant, database, opts)
      data
    end

    # Lists all collections in the specified database.
    # @param tenant [Object] Tenant ID
    # @param database [Object] Database name to list collections from
    # @param [Hash] opts the optional parameters
    # @option opts [Object] :limit Limit for pagination
    # @option opts [Object] :offset Offset for pagination
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def list_collections_with_http_info(tenant, database, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.list_collections ...'
      end
      # verify the required parameter 'tenant' is set
      if @api_client.config.client_side_validation && tenant.nil?
        fail ArgumentError, "Missing the required parameter 'tenant' when calling DefaultApi.list_collections"
      end
      # verify the required parameter 'database' is set
      if @api_client.config.client_side_validation && database.nil?
        fail ArgumentError, "Missing the required parameter 'database' when calling DefaultApi.list_collections"
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 0
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling DefaultApi.list_collections, must be greater than or equal to 0.'
      end

      if @api_client.config.client_side_validation && !opts[:'offset'].nil? && opts[:'offset'] < 0
        fail ArgumentError, 'invalid value for "opts[:"offset"]" when calling DefaultApi.list_collections, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/api/v2/tenants/{tenant}/databases/{database}/collections'.sub('{' + 'tenant' + '}', CGI.escape(tenant.to_s)).sub('{' + 'database' + '}', CGI.escape(database.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DefaultApi.list_collections",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#list_collections\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Lists all databases for a given tenant.
    # @param tenant [Object] Tenant ID to list databases for
    # @param [Hash] opts the optional parameters
    # @option opts [Object] :limit Limit for pagination
    # @option opts [Object] :offset Offset for pagination
    # @return [Object]
    def list_databases(tenant, opts = {})
      data, _status_code, _headers = list_databases_with_http_info(tenant, opts)
      data
    end

    # Lists all databases for a given tenant.
    # @param tenant [Object] Tenant ID to list databases for
    # @param [Hash] opts the optional parameters
    # @option opts [Object] :limit Limit for pagination
    # @option opts [Object] :offset Offset for pagination
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def list_databases_with_http_info(tenant, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.list_databases ...'
      end
      # verify the required parameter 'tenant' is set
      if @api_client.config.client_side_validation && tenant.nil?
        fail ArgumentError, "Missing the required parameter 'tenant' when calling DefaultApi.list_databases"
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 0
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling DefaultApi.list_databases, must be greater than or equal to 0.'
      end

      if @api_client.config.client_side_validation && !opts[:'offset'].nil? && opts[:'offset'] < 0
        fail ArgumentError, 'invalid value for "opts[:"offset"]" when calling DefaultApi.list_databases, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/api/v2/tenants/{tenant}/databases'.sub('{' + 'tenant' + '}', CGI.escape(tenant.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DefaultApi.list_databases",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#list_databases\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Pre-flight checks endpoint reporting basic readiness info.
    # @param [Hash] opts the optional parameters
    # @return [ChecklistResponse]
    def pre_flight_checks(opts = {})
      data, _status_code, _headers = pre_flight_checks_with_http_info(opts)
      data
    end

    # Pre-flight checks endpoint reporting basic readiness info.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ChecklistResponse, Integer, Hash)>] ChecklistResponse data, response status code and response headers
    def pre_flight_checks_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.pre_flight_checks ...'
      end
      # resource path
      local_var_path = '/api/v2/pre-flight-checks'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ChecklistResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DefaultApi.pre_flight_checks",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#pre_flight_checks\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reset endpoint allowing authorized users to reset the database.
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def reset(opts = {})
      data, _status_code, _headers = reset_with_http_info(opts)
      data
    end

    # Reset endpoint allowing authorized users to reset the database.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def reset_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.reset ...'
      end
      # resource path
      local_var_path = '/api/v2/reset'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DefaultApi.reset",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#reset\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Updates an existing collection's name or metadata.
    # @param tenant [Object] Tenant ID
    # @param database [Object] Database name
    # @param collection_id [Object] UUID of the collection to update
    # @param update_collection_payload [UpdateCollectionPayload] 
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def update_collection(tenant, database, collection_id, update_collection_payload, opts = {})
      data, _status_code, _headers = update_collection_with_http_info(tenant, database, collection_id, update_collection_payload, opts)
      data
    end

    # Updates an existing collection&#39;s name or metadata.
    # @param tenant [Object] Tenant ID
    # @param database [Object] Database name
    # @param collection_id [Object] UUID of the collection to update
    # @param update_collection_payload [UpdateCollectionPayload] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def update_collection_with_http_info(tenant, database, collection_id, update_collection_payload, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.update_collection ...'
      end
      # verify the required parameter 'tenant' is set
      if @api_client.config.client_side_validation && tenant.nil?
        fail ArgumentError, "Missing the required parameter 'tenant' when calling DefaultApi.update_collection"
      end
      # verify the required parameter 'database' is set
      if @api_client.config.client_side_validation && database.nil?
        fail ArgumentError, "Missing the required parameter 'database' when calling DefaultApi.update_collection"
      end
      # verify the required parameter 'collection_id' is set
      if @api_client.config.client_side_validation && collection_id.nil?
        fail ArgumentError, "Missing the required parameter 'collection_id' when calling DefaultApi.update_collection"
      end
      # verify the required parameter 'update_collection_payload' is set
      if @api_client.config.client_side_validation && update_collection_payload.nil?
        fail ArgumentError, "Missing the required parameter 'update_collection_payload' when calling DefaultApi.update_collection"
      end
      # resource path
      local_var_path = '/api/v2/tenants/{tenant}/databases/{database}/collections/{collection_id}'.sub('{' + 'tenant' + '}', CGI.escape(tenant.to_s)).sub('{' + 'database' + '}', CGI.escape(database.to_s)).sub('{' + 'collection_id' + '}', CGI.escape(collection_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_collection_payload)

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DefaultApi.update_collection",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#update_collection\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Updates an existing tenant by name.
    # @param tenant_name [Object] Tenant to update
    # @param update_tenant_payload [UpdateTenantPayload] 
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def update_tenant(tenant_name, update_tenant_payload, opts = {})
      data, _status_code, _headers = update_tenant_with_http_info(tenant_name, update_tenant_payload, opts)
      data
    end

    # Updates an existing tenant by name.
    # @param tenant_name [Object] Tenant to update
    # @param update_tenant_payload [UpdateTenantPayload] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def update_tenant_with_http_info(tenant_name, update_tenant_payload, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.update_tenant ...'
      end
      # verify the required parameter 'tenant_name' is set
      if @api_client.config.client_side_validation && tenant_name.nil?
[...]
