---

apiVersion: v1
kind: Service
metadata:
  name: query-service 
  namespace: {{ .Values.namespace }}
spec:
  ports:
    - name: query-service-server-port
      port: 50051
      targetPort: 50051
  selector:
    app: query-service-server
  type: ClusterIP

---

apiVersion: apps/v1
kind: Deployment
metadata:
  name: query-service
  namespace: {{ .Values.namespace }}
spec:
  replicas: 2
  selector:
    matchLabels:
      app: query-service
  template:
    metadata:
      labels:
        app: query-service
        member-type: query-service
    spec:
      serviceAccountName: query-service-serviceaccount
      containers:
        - name: query-service
          image: "{{ .Values.queryService.image.repository }}:{{ .Values.queryService.image.tag }}"
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 50051
          volumeMounts:
            - name: chroma
              mountPath: /index_data
          env:
            - name: CHROMA_query-service__PULSAR_URL
              value: pulsar://pulsar.chroma:6650
            - name: CHROMA_query-service__MY_IP
              valueFrom:
                fieldRef:
                  fieldPath: status.podIP
      topologySpreadConstraints:
        - maxSkew: 1
          topologyKey: "kubernetes.io/hostname"
          whenUnsatisfiable: ScheduleAnyway
          labelSelector:
            matchLabels:
              member-type: query-service
      volumes:
        - name: chroma
          emptyDir: {}

---

apiVersion: v1
kind: ServiceAccount
metadata:
  name: query-service-serviceaccount
  namespace: {{ .Values.namespace }}

---

apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: query-service-serviceaccount-rolebinding
  namespace: {{ .Values.namespace }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: pod-watcher
subjects:
- kind: ServiceAccount
  name: query-service-serviceaccount
  namespace: {{ .Values.namespace }}

---