[package]
name = "worker"
version = "0.1.0"
edition = "2021"

[[bin]]
name = "query_service"
path = "src/bin/query_service.rs"

[[bin]]
name = "compaction_service"
path = "src/bin/compaction_service.rs"

[dependencies]
tonic = "0.10"
prost = "0.12"
prost-types = "0.12"
tokio = { version = "1.0", features = ["macros", "rt-multi-thread"] }
tokio-util = "0.7.10"
rand = "0.8.5"
async-trait = "0.1.74"
uuid = { version = "1.6.1", features = ["v4", "fast-rng", "macro-diagnostics"] }
figment = { version = "0.10.12", features = ["env", "yaml", "test"] }
serde = { version = "1.0.193", features = ["derive"] }
serde_json = "1.0.108"
futures = "0.3"
num_cpus = "1.16.0"
murmur3 = "0.5.2"
thiserror = "1.0.50"
tempfile = "3.8.1"
schemars = "0.8.16"
kube = { version = "0.87.1", features = ["runtime", "derive"] }
k8s-openapi = { version = "0.20.0", features = ["latest"] }
bytes = "1.5.0"
parking_lot = "0.12.1"
aws-sdk-s3 = "1.5.0"
aws-smithy-types = "1.1.0"
aws-config = { version = "1.1.2", features = ["behavior-version-latest"] }
arrow = "50.0.0"
roaring = "0.10.3"
tantivy = "0.22.0"
foyer-memory = "0.1.3"
ahash = "0.8.6"
once_cell = "1.8.0"
moka = { version = "0.12.7", features = ["future"] }

[dev-dependencies]
proptest = "1.4.0"
proptest-state-machine = "0.1.0"
"rand" = "0.8.5"
rayon = "1.8.0"

[build-dependencies]
tonic-build = "0.10"
cc = "1.0"
