[package]
name = "worker"
version = "0.1.0"
edition = "2021"

[[bin]]
name = "query_service"
path = "src/bin/query_service.rs"

[[bin]]
name = "compaction_service"
path = "src/bin/compaction_service.rs"

[dependencies]
rand = "0.8.5"
murmur3 = "0.5.2"
schemars = "0.8.21"
kube = { version = "0.87.2", features = ["runtime", "derive"] }
k8s-openapi = { version = "0.20.0", features = ["latest"] }
tracing-bunyan-formatter = { workspace = true }
tracing-opentelemetry = { workspace = true }
tracing-subscriber = { workspace = true }
opentelemetry = { workspace = true }
opentelemetry-otlp = { workspace = true }
opentelemetry_sdk = { workspace = true }
regex = "1.11.1"

[target.'cfg(not(target_env = "msvc"))'.dependencies]
tikv-jemallocator = "0.6"

serde = { workspace = true }
serde_json = { workspace = true }
arrow = { workspace = true }
thiserror = { workspace = true }
uuid = { workspace = true }
async-trait = { workspace = true }
roaring = { workspace = true }
figment = { workspace = true }
futures = { workspace = true }
parking_lot = { workspace = true }
tracing = { workspace = true }
tokio = { workspace = true }
tokio-util = { workspace = true }
tonic = { workspace = true }
prost = { workspace = true }
prost-types = { workspace = true }
num_cpus = { workspace = true }
flatbuffers = { workspace = true }
tantivy = { workspace = true }

chroma-blockstore = { workspace = true }
chroma-error = { workspace = true }
chroma-config = { workspace = true }
chroma-storage = { workspace = true }
chroma-types = { workspace = true }
chroma-cache = { workspace = true }
chroma-index = { workspace = true }
chroma-distance = { workspace = true }

fastrace = "0.7"
fastrace-opentelemetry = "0.8"

[dev-dependencies]
random-port = "0.1.1"
serial_test = "3.2.0"

criterion = { workspace = true }
indicatif = { workspace = true }
proptest = { workspace = true }
proptest-state-machine = { workspace = true }
shuttle = { workspace = true }
rand = { workspace = true }
rand_xorshift = { workspace = true }
tempfile = { workspace = true }

chroma-benchmark = { workspace = true }

[[bench]]
name = "filter"
harness = false

[[bench]]
name = "get"
harness = false

[[bench]]
name = "limit"
harness = false

[[bench]]
name = "query"
harness = false

[[bench]]
name = "spann"
harness = false
