[package]
name = "worker"
version = "0.1.0"
edition = "2021"

[[bin]]
name = "compaction_client"
path = "src/bin/compaction_client.rs"

[[bin]]
name = "compaction_service"
path = "src/bin/compaction_service.rs"

[[bin]]
name = "query_service"
path = "src/bin/query_service.rs"

[dependencies]
chroma-tracing = { workspace = true }
regex = { workspace = true }

[target.'cfg(not(target_env = "msvc"))'.dependencies]
tikv-jemallocator = { workspace = true }

serde = { workspace = true }
serde_json = { workspace = true }
arrow = { workspace = true }
thiserror = { workspace = true }
uuid = { workspace = true }
async-trait = { workspace = true }
chrono = { workspace = true }
roaring = { workspace = true }
figment = { workspace = true }
futures = { workspace = true }
mdac = { workspace = true }
opentelemetry = { workspace = true }
parking_lot = { workspace = true }
tracing = { workspace = true }
tokio = { workspace = true }
tokio-util = { workspace = true }
tonic = { workspace = true }
tonic-health = { workspace = true }
prost = { workspace = true }
prost-types = { workspace = true }
num_cpus = { workspace = true }
flatbuffers = { workspace = true }
tantivy = { workspace = true }
clap = { workspace = true }
tracing-opentelemetry = { workspace = true }
sprs = { workspace = true }

chroma-blockstore = { workspace = true }
chroma-cache = { workspace = true }
chroma-config = { workspace = true }
chroma-distance = { workspace = true }
chroma-error = { workspace = true }
chroma-index = { workspace = true }
chroma-log = { workspace = true }
chroma-memberlist = { workspace = true }
chroma-segment = { workspace = true }
chroma-storage = { workspace = true }
chroma-system = { workspace = true }
chroma-sysdb = { workspace = true }
chroma-types = { workspace = true }
chroma-jemalloc-pprof-server = { workspace = true }
s3heap = { workspace = true }
s3heap-service = { workspace = true }

fastrace = "0.7"
fastrace-opentelemetry = "0.8"

[dev-dependencies]
random-port = { workspace = true }
serial_test = { workspace = true }
criterion = { workspace = true }
indicatif = { workspace = true }
proptest = { workspace = true }
proptest-state-machine = { workspace = true }
shuttle = { workspace = true }
rand = { workspace = true }
rand_xorshift = { workspace = true }
tempfile = { workspace = true }
reqwest = { workspace = true, features = ["json"] }

chroma-benchmark = { workspace = true }

[[bench]]
name = "filter"
harness = false

[[bench]]
name = "get"
harness = false

[[bench]]
name = "limit"
harness = false

[[bench]]
name = "query"
harness = false

[[bench]]
name = "regex"
harness = false

[[bench]]
name = "spann"
harness = false
