# Default configuration for Chroma worker
# In the long term, every service should have an entry in this file
# and this can become the global configuration file for Chroma
# for now we nest it in the worker directory

worker:
    my_ip: "10.244.0.9"
    my_port: 50051
    num_indexing_threads: 4
    pulsar_url: "pulsar://127.0.0.1:6650"
    pulsar_tenant: "default"
    pulsar_namespace: "default"
    kube_namespace: "chroma"
    assignment_policy:
        RendezvousHashing:
            hasher: Murmur3
    memberlist_provider:
        CustomResource:
            memberlist_name: "worker-memberlist"
            queue_size: 100
    ingest:
        queue_size: 10000
    sysdb:
        Grpc:
            host: "sysdb.chroma"
            port: 50051
    segment_manager:
        storage_path: "./tmp/segment_manager/"
    storage:
        S3:
            bucket: "chroma-storage"
    log:
        Grpc:
            host: "logservice.chroma"
            port: 50052
    dispatcher:
        num_worker_threads: 4
        dispatcher_queue_size: 100
        worker_queue_size: 100
