# Default configuration for query and compaction service
# In the long term, every service should have an entry in this file
# and this can become the global configuration file for Chroma
# for now we nest it in the worker directory

query_service:
    service_name: "query-service"
    otel_endpoint: "http://jaeger:4317"
    my_member_id: "query-service-0"
    my_port: 50051
    assignment_policy:
        RendezvousHashing:
            hasher: Murmur3
    memberlist_provider:
        CustomResource:
            kube_namespace: "chroma"
            memberlist_name: "query-service-memberlist"
            queue_size: 100
    sysdb:
        Grpc:
            host: "sysdb.chroma"
            port: 50051
            connect_timeout_ms: 5000
            request_timeout_ms: 5000
    storage:
        S3:
            bucket: "chroma-storage"
            credentials: "Minio"
            connect_timeout_ms: 5000
            request_timeout_ms: 30000 # 1 minute
    log:
        Grpc:
            host: "logservice.chroma"
            port: 50051
            connect_timeout_ms: 5000
            request_timeout_ms: 5000
    dispatcher:
        num_worker_threads: 4
        dispatcher_queue_size: 100
        worker_queue_size: 100
    blockfile_provider:
        Arrow:
            max_block_size_bytes: 16384

compaction_service:
    service_name: "compaction-service"
    otel_endpoint: "http://jaeger:4317"
    my_member_id: "compaction-service-0"
    my_port: 50051
    assignment_policy:
        RendezvousHashing:
            hasher: Murmur3
    memberlist_provider:
        CustomResource:
            kube_namespace: "chroma"
            memberlist_name: "compaction-service-memberlist"
            queue_size: 100
    sysdb:
        Grpc:
            host: "sysdb.chroma"
            port: 50051
            connect_timeout_ms: 5000
            request_timeout_ms: 5000
    storage:
        S3:
            bucket: "chroma-storage"
            credentials: "Minio"
            connect_timeout_ms: 5000
            request_timeout_ms: 60000 # 1 minute
    log:
        Grpc:
            host: "logservice.chroma"
            port: 50051
            connect_timeout_ms: 5000
            request_timeout_ms: 5000
    dispatcher:
        num_worker_threads: 4
        dispatcher_queue_size: 100
        worker_queue_size: 100
    compactor:
        compaction_manager_queue_size: 1000
        max_concurrent_jobs: 100
        compaction_interval_sec: 10
        min_compaction_size: 10
    blockfile_provider:
        Arrow:
            max_block_size_bytes: 16384
