# Tiltfile configuration for query and compaction service
# In the long term, every service should have an entry in this file
# and this can become the global configuration file for Chroma
# for now we nest it in the worker directory

query_service:
    service_name: "query-service"
    otel_endpoint: "http://otel-collector:4317"
    my_member_id: "query-service-0"
    my_port: 50051
    assignment_policy:
        rendezvous_hashing:
            hasher: Murmur3
    memberlist_provider:
        custom_resource:
            kube_namespace: "chroma"
            memberlist_name: "query-service-memberlist"
            queue_size: 100
    sysdb:
        grpc:
            host: "sysdb.chroma"
            port: 50051
            connect_timeout_ms: 5000
            request_timeout_ms: 5000
    storage:
        admission_controlled_s3:
            s3_config:
                bucket: "chroma-storage"
                credentials: "Minio"
                connect_timeout_ms: 5000
                request_timeout_ms: 30000 # 1 minute
                upload_part_size_bytes: 536870912 # 512MiB
                download_part_size_bytes: 8388608 # 8MiB
            rate_limiting_policy:
                count_based_policy:
                    max_concurrent_requests: 30
                    bandwidth_allocation: [0.7, 0.3]
    log:
        grpc:
            host: "logservice.chroma"
            port: 50051
            connect_timeout_ms: 5000
            request_timeout_ms: 60000 # 1 minute
            alt_host: "rust-log-service.chroma"
            alt_host_threshold: "ffffffff-ffff-ffff-ffff-ffffffffffff"
    dispatcher:
        num_worker_threads: 4
        dispatcher_queue_size: 100
        worker_queue_size: 100
        task_queue_limit: 1000
        active_io_tasks: 100
    blockfile_provider:
        arrow:
            block_manager_config:
                max_block_size_bytes: 8388608 # 8MB
                block_cache_config:
                    disk:
                        dir: "/cache/chroma/query-service/block-cache"
                        name: "block_cache"
                        # 1k blocks * 8MiB = 8GiB, this is actually ignored in the disk cache config. Leaving it set to 1k for consistency.
                        capacity: 1000
                        mem: 8000 # 8GiB
                        disk: 12884 # 12GiB
                        file_size: 256 #  256 MiB
                        flushers: 4
                        flush: false
                        reclaimers: 2
                        recover_concurrency: 16
                        admission_rate_limit: 256 # 256MiB/s
                        shards: 64
                        eviction: lru
            sparse_index_manager_config:
                sparse_index_cache_config:
                    lru:
                        name: "sparse_index_cache"
                        capacity: 1000
    hnsw_provider:
        hnsw_temporary_path: "~/tmp"
        hnsw_cache_config:
            weighted_lru:
                name: "hnsw_cache"
                capacity: 8589934592 # 8GB
        permitted_parallelism: 180
    fetch_log_batch_size: 1000

compaction_service:
    service_name: "compaction-service"
    otel_endpoint: "http://otel-collector:4317"
    my_member_id: "compaction-service-0"
    my_port: 50051
    assignment_policy:
        rendezvous_hashing:
            hasher: Murmur3
    memberlist_provider:
        custom_resource:
            kube_namespace: "chroma"
            memberlist_name: "compaction-service-memberlist"
            queue_size: 100
    sysdb:
        grpc:
            host: "sysdb.chroma"
            port: 50051
            connect_timeout_ms: 5000
            request_timeout_ms: 5000
    storage:
        admission_controlled_s3:
            s3_config:
                bucket: "chroma-storage"
                credentials: "Minio"
                connect_timeout_ms: 5000
                request_timeout_ms: 60000 # 1 minute
                upload_part_size_bytes: 536870912 # 512MiB
                download_part_size_bytes: 8388608 # 8MiB
            rate_limiting_policy:
                count_based_policy:
                    max_concurrent_requests: 30
                    bandwidth_allocation: [0.7, 0.3]
    log:
        grpc:
            host: "logservice.chroma"
            port: 50051
            connect_timeout_ms: 5000
            request_timeout_ms: 60000 # 1 minute
            alt_host: "rust-log-service.chroma"
            alt_host_threshold: "ffffffff-ffff-ffff-ffff-ffffffffffff"
    dispatcher:
        num_worker_threads: 4
        dispatcher_queue_size: 100
        worker_queue_size: 100
        task_queue_limit: 1000
        active_io_tasks: 100
    compactor:
        compaction_manager_queue_size: 1000
        max_concurrent_jobs: 100
        compaction_interval_sec: 10
        min_compaction_size: 10
        max_compaction_size: 10000
        max_partition_size: 5000
        disabled_collections: [] # uuids to disable compaction for
        fetch_log_batch_size: 1000
    blockfile_provider:
        arrow:
            block_manager_config:
                max_block_size_bytes: 8388608 # 8MB
                block_cache_config:
                    lru:
                        name: "block_cache"
                        capacity: 1000
            sparse_index_manager_config:
                sparse_index_cache_config:
                    lru:
                        name: "sparse_index_cache"
                        capacity: 1000
    hnsw_provider:
        hnsw_temporary_path: "~/tmp"
        hnsw_cache_config:
            weighted_lru:
                name: "hnsw_cache"
                capacity: 8192 # 8192 MiB = 8GB
        permitted_parallelism: 180
    spann_provider:
        pl_garbage_collection:
            enabled: true
            policy:
                random_sample:
                    sample_size: 0.1
        hnsw_garbage_collection:
            enabled: true
            policy: "full_rebuild"

log_service:
    opentelemetry:
        service_name: "rust-log-service"
        endpoint: "http://otel-collector:4317"
    storage:
        admission_controlled_s3:
            s3_config:
                bucket: "chroma-storage"
                credentials: "Minio"
                connect_timeout_ms: 5000
                request_timeout_ms: 60000 # 1 minute
                upload_part_size_bytes: 536870912 # 512MiB
                download_part_size_bytes: 8388608 # 8MiB
            rate_limiting_policy:
                count_based_policy:
                    max_concurrent_requests: 500
                    bandwidth_allocation: [1.0]
    writer:
        throttle_fragment:
            batch_interval_us: 100000
            batch_size_bytes: 8388608 # 8MiB
            throughput: 3300
            headroom: 200
    proxy_to:
        host: "logservice.chroma"
        port: 50051
        connect_timeout_ms: 5000
        request_timeout_ms: 60000 # 1 minute
        alt_host: "rust-log-service.chroma"
        alt_host_threshold: "ffffffff-ffff-ffff-ffff-ffffffffffff"
