name: Rust tests

on:
  workflow_call:

jobs:
  test:
    strategy:
      matrix:
        platform: [depot-ubuntu-22.04]
    runs-on: ${{ matrix.platform }}
    # OIDC token auth for Depot & AWS
    permissions:
      contents: read
      id-token: write
    env:
      CARGO_TERM_COLOR: always
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup
        uses: ./.github/actions/rust
        with:
          github-token: ${{ github.token }}
      - name: Test
        run: cargo nextest run
  test-integration:
    strategy:
      matrix:
        platform: [depot-ubuntu-22.04-16]
    runs-on: ${{ matrix.platform }}
    env:
      CARGO_TERM_COLOR: always
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup
        uses: ./.github/actions/rust
        with:
          github-token: ${{ github.token }}
      - name: Start services in Tilt
        uses: ./.github/actions/tilt
        with:
          depot-project-id: ${{ vars.DEPOT_PROJECT_ID }}
      - name: Run tests
        run: cargo nextest run --profile k8s_integration
      - name: Save service logs to artifact
        if: always()
        uses: ./.github/actions/export-tilt-logs
        with:
          artifact-name: "rust-integration-test"

  test-benches:
    strategy:
      matrix:
        platform: [depot-ubuntu-22.04-16]
    runs-on: ${{ matrix.platform }}
    env:
      CARGO_TERM_COLOR: always
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup
        uses: ./.github/actions/rust
        with:
          github-token: ${{ github.token }}
      - name: Test compile
        run: cargo bench --no-run

  can-build-release:
    runs-on: depot-ubuntu-22.04-16
    env:
      CARGO_TERM_COLOR: always
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup
        uses: ./.github/actions/rust
        with:
          github-token: ${{ github.token }}
      - name: Build in release mode
        run: cargo build --release
