name: Rust tests

on:
  workflow_call:

jobs:
  test:
    strategy:
      matrix:
        platform: [depot-ubuntu-22.04]
    runs-on: ${{ matrix.platform }}
    env:
      CARGO_TERM_COLOR: always
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup
        uses: ./.github/actions/rust
      - name: Test
        run: cargo nextest run --features python
  test-integration:
    strategy:
      matrix:
        platform: [depot-ubuntu-22.04-16]
    runs-on: ${{ matrix.platform }}
    env:
      CARGO_TERM_COLOR: always
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup
        uses: ./.github/actions/rust
      - name: Start services in Tilt
        uses: ./.github/actions/tilt
      - name: Run tests
        run: cargo nextest run --profile k8s_integration --features python
      - name: Save service logs to artifact
        if: always()
        uses: ./.github/actions/export-tilt-logs
        with:
          artifact-name: "rust-integration-test"

  test-benches:
    strategy:
      matrix:
        platform: [depot-ubuntu-22.04-16]
    runs-on: ${{ matrix.platform }}
    env:
      CARGO_TERM_COLOR: always
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup
        uses: ./.github/actions/rust
      - name: Test compile
        run: cargo bench --no-run --features python

  can-build-release:
    runs-on: depot-ubuntu-22.04-16
    env:
      CARGO_TERM_COLOR: always
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup
        uses: ./.github/actions/rust
      - name: Build in release mode
        run: cargo build --release --features python
