name: Rust tests

on:
  workflow_call:

jobs:
  test:
    strategy:
      matrix:
        platform: [depot-ubuntu-22.04]
    runs-on: ${{ matrix.platform }}
    env:
      CARGO_TERM_COLOR: always
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup
        uses: ./.github/actions/rust
      - name: Build
        run: cargo build --verbose
      - name: Test
        run: cargo nextest run
  test-integration:
    strategy:
      matrix:
        platform: [depot-ubuntu-22.04-16]
    runs-on: ${{ matrix.platform }}
    env:
      CARGO_TERM_COLOR: always
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup
        uses: ./.github/actions/rust
      - name: Start services in Tilt
        uses: ./.github/actions/tilt
      - name: Run tests
        run: cargo nextest run --profile k8s_integration
  test-benches:
    strategy:
      matrix:
        platform: [depot-ubuntu-22.04-16]
    runs-on: ${{ matrix.platform }}
    env:
      CARGO_TERM_COLOR: always
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup
        uses: ./.github/actions/rust
      - name: Test compile
        run: cargo bench --no-run
