name: Chroma Release

on:
  push:
    tags:
      - '*'
    branches:
      - main

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: "ghcr.io/chroma-core/chroma"

jobs:
  build-and-release:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3
      with:
        fetch-depth: 0
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'
    - name: Install Client Dev Dependencies
      run: python -m pip install -r requirements_dev.txt
    - name: Build Client
      run: python -m build
    - name: Test Client Package
      run: bin/test-package.sh dist/*.tar.gz
    - name: Log in to the Container registry
      uses: docker/login-action@v2.1.0
      with:
        registry: ${{ env.REGISTRY }}
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - name: Install setuptools_scm
      run: python -m pip install setuptools_scm
    - name: Get Docker Tag
      id: tag
      run: echo "tag_name=$IMAGE_NAME:$(bin/version)" >> $GITHUB_OUTPUT
    - name: Build and push Docker image
      uses: docker/build-push-action@v3.2.0
      with:
        context: .
        push: true
        tags: ${{ steps.tag.outputs.tag_name}}
    - name: Get Release Version
      id: version
      run: echo "version=$(python -m setuptools_scm)" >> $GITHUB_OUTPUT
    - name: Get current date
      id: builddate
      run: echo "builddate=$(date +'%Y-%m-%dT%H:%M')" >> $GITHUB_OUTPUT
    - name: Release Tagged Version
      uses: ncipollo/release-action@v1.11.1
      if: "startsWith(github.ref, 'refs/tags/')"
      with:
        body: |
          Version: `${{steps.version.outputs.version}}`
          Git ref: `${{github.ref}}`
          Build Date: `${{steps.builddate.outputs.builddate}}`
          PIP Package: `chroma-${{steps.version.outputs.version}}.tar.gz`
          Docker Image: `${{steps.tag.outputs.tag_name}}`
        artifacts: "dist/chroma-${{steps.version.outputs.version}}.tar.gz"
        prerelease: true
    - name: Update Tag
      uses: richardsimko/update-tag@v1.0.5
      if: "!startsWith(github.ref, 'refs/tags/')"
      with:
        tag_name: latest
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    - name: Release Latest
      uses: ncipollo/release-action@v1.11.1
      if: "!startsWith(github.ref, 'refs/tags/')"
      with:
        tag: "latest"
        name: "Latest"
        body: |
          Version: `${{steps.version.outputs.version}}`
          Git ref: `${{github.ref}}`
          Build Date: `${{steps.builddate.outputs.builddate}}`
          PIP Package: `chroma-${{steps.version.outputs.version}}.tar.gz`
          Docker Image: `${{steps.tag.outputs.tag_name}}`
        artifacts: "dist/chroma-${{steps.version.outputs.version}}.tar.gz"
        allowUpdates: true
        prerelease: true

