name: PR checks
on:
  pull_request:
    branches:
      - main
      - '**'

jobs:
  debug:
    strategy:
        matrix:
          python: ['3.12']
          platform: [ubuntu-latest]
    runs-on: ${{ matrix.platform }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup
        uses: ./.github/actions/rust
      - name: Install Tilt
        shell: bash
        run: |
          TILT_VERSION="0.33.3"
          curl -fsSL https://github.com/tilt-dev/tilt/releases/download/v$TILT_VERSION/tilt.$TILT_VERSION.linux.x86_64.tar.gz | \
            tar -xzv -C /usr/local/bin tilt
      - name: Install ctlptlc
        shell: bash
        run: |
          CTLPTL_VERSION="0.8.20"
          curl -fsSL https://github.com/tilt-dev/ctlptl/releases/download/v$CTLPTL_VERSION/ctlptl.$CTLPTL_VERSION.linux.x86_64.tar.gz | \
            tar -xzv -C /usr/local/bin ctlptl
      - name: Set up kind
        shell: bash
        run: ctlptl create cluster kind --registry=ctlptl-registry
      - name: Setup upterm session
        uses: lhotari/action-upterm@v1
        env:
          PROPERTY_TESTING_PRESET: normal
      - name: Archive logs
        uses: actions/upload-artifact@v4
        with:
          name: test_logs
          path: ~/work/chroma/chroma/**/*.log

  test-embeddings-0:
    strategy:
      fail-fast: false
    runs-on: depot-ubuntu-22.04-16
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/python
        with:
          python-version: 3.12
      - uses: ./.github/actions/tilt
      - name: Test
        run: bin/cluster-test.sh bash -c 'python -m pytest "chromadb/test/property/test_embeddings.py::test_embeddings_state"'
        shell: bash
        env:
          PROPERTY_TESTING_PRESET: normal
      - name: Get logs of all services
        id: get-logs
        if: success() || failure()
        run: bin/get-logs.sh
        shell: bash
      - name: Upload logs as artifact
        if: success() || failure()
        uses: actions/upload-artifact@v4
        with:
          name: test_embeddings_log_0
          path: ~/work/chroma/chroma/**/*.log

  test-embeddings-1:
    strategy:
      fail-fast: false
    runs-on: depot-ubuntu-22.04-16
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/python
        with:
          python-version: 3.12
      - uses: ./.github/actions/tilt
      - name: Test
        run: bin/cluster-test.sh bash -c 'python -m pytest "chromadb/test/property/test_embeddings.py::test_embeddings_state"'
        shell: bash
        env:
          PROPERTY_TESTING_PRESET: normal
      - name: Get logs of all services
        id: get-logs
        if: success() || failure()
        run: bin/get-logs.sh
        shell: bash
      - name: Upload logs as artifact
        if: success() || failure()
        uses: actions/upload-artifact@v4
        with:
          name: test_embeddings_log_1
          path: ~/work/chroma/chroma/**/*.log

  test-embeddings-2:
    strategy:
      fail-fast: false
    runs-on: depot-ubuntu-22.04-16
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/python
        with:
          python-version: 3.12
      - uses: ./.github/actions/tilt
      - name: Test
        run: bin/cluster-test.sh bash -c 'python -m pytest "chromadb/test/property/test_embeddings.py::test_embeddings_state"'
        shell: bash
        env:
          PROPERTY_TESTING_PRESET: normal
      - name: Get logs of all services
        id: get-logs
        if: success() || failure()
        run: bin/get-logs.sh
        shell: bash
      - name: Upload logs as artifact
        if: success() || failure()
        uses: actions/upload-artifact@v4
        with:
          name: test_embeddings_log_2
          path: ~/work/chroma/chroma/**/*.log

  test-embeddings-3:
    strategy:
      fail-fast: false
    runs-on: depot-ubuntu-22.04-16
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/python
        with:
          python-version: 3.12
      - uses: ./.github/actions/tilt
      - name: Test
        run: bin/cluster-test.sh bash -c 'python -m pytest "chromadb/test/property/test_embeddings.py::test_embeddings_state"'
        shell: bash
        env:
          PROPERTY_TESTING_PRESET: normal
      - name: Get logs of all services
        id: get-logs
        if: success() || failure()
        run: bin/get-logs.sh
        shell: bash
      - name: Upload logs as artifact
        if: success() || failure()
        uses: actions/upload-artifact@v4
        with:
          name: test_embeddings_log_3
          path: ~/work/chroma/chroma/**/*.log

  test-embeddings-4:
    strategy:
      fail-fast: false
    runs-on: depot-ubuntu-22.04-16
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/python
        with:
          python-version: 3.12
      - uses: ./.github/actions/tilt
      - name: Test
        run: bin/cluster-test.sh bash -c 'python -m pytest "chromadb/test/property/test_embeddings.py::test_embeddings_state"'
        shell: bash
        env:
          PROPERTY_TESTING_PRESET: normal
      - name: Get logs of all services
        id: get-logs
        if: success() || failure()
        run: bin/get-logs.sh
        shell: bash
      - name: Upload logs as artifact
        if: success() || failure()
        uses: actions/upload-artifact@v4
        with:
          name: test_embeddings_log_4
          path: ~/work/chroma/chroma/**/*.log

  test-embeddings-5:
    strategy:
      fail-fast: false
    runs-on: depot-ubuntu-22.04-16
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/python
        with:
          python-version: 3.12
      - uses: ./.github/actions/tilt
      - name: Test
        run: bin/cluster-test.sh bash -c 'python -m pytest "chromadb/test/property/test_embeddings.py::test_embeddings_state"'
        shell: bash
        env:
          PROPERTY_TESTING_PRESET: normal
      - name: Get logs of all services
        id: get-logs
        if: success() || failure()
        run: bin/get-logs.sh
        shell: bash
      - name: Upload logs as artifact
        if: success() || failure()
        uses: actions/upload-artifact@v4
        with:
          name: test_embeddings_log_5
          path: ~/work/chroma/chroma/**/*.log

  test-embeddings-6:
    strategy:
      fail-fast: false
    runs-on: depot-ubuntu-22.04-16
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/python
        with:
          python-version: 3.12
      - uses: ./.github/actions/tilt
      - name: Test
        run: bin/cluster-test.sh bash -c 'python -m pytest "chromadb/test/property/test_embeddings.py::test_embeddings_state"'
        shell: bash
        env:
          PROPERTY_TESTING_PRESET: normal
      - name: Get logs of all services
        id: get-logs
        if: success() || failure()
        run: bin/get-logs.sh
        shell: bash
      - name: Upload logs as artifact
        if: success() || failure()
        uses: actions/upload-artifact@v4
        with:
          name: test_embeddings_log_6
          path: ~/work/chroma/chroma/**/*.log
