name: Trigger deploy
run-name: Trigger deploy from ${{ github.ref_name }}

on:
  push:
    branches:
      # main is not included here because it is handled by the release-chromadb.yaml workflow
      # production deploys (release branches) are also not here because they are currently
      # meant to be handled manually.
      - rc/**-**-**

jobs:
  deploy-control-plane:
    name: Dispatch deploy control plane workflow
    uses: ./.github/workflows/_deploy.yml
    with:
      plane: control
      ignore-lock: true
    secrets: inherit

  deploy-data-plane:
    name: Dispatch deploy data plane workflow
    uses: ./.github/workflows/_deploy.yml
    with:
      plane: data
      ignore-lock: true
    secrets: inherit

  notify-slack-on-failure:
    name: Notify Slack on Deploy Failure
    if: failure()
    needs: [deploy-control-plane, deploy-data-plane]
    runs-on: blacksmith-2vcpu-ubuntu-2204
    steps:
      - name: Notify Slack
        uses: slackapi/slack-github-action@v2.0.0
        with:
          token: ${{ secrets.SLACK_BOT_TOKEN }}
          method: chat.postMessage
          payload: |
            channel: ${{ secrets.SLACK_CHANNEL_ID }}
            text: |
              :x: *Deploy failure!*
              *Workflow:* ${{ github.workflow }}
              *Run:* <https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}|View run>
              *Ref:* <https://github.com/${{ github.repository }}/tree/${{ github.ref_name }}|${{ github.ref_name }}>
              *Author:* ${{ github.actor }}
              *Plane:* control, data
