@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FCFCFC;
  --foreground: #000000;
  --accent: #0d51d0;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-ui);
  border-color: black;
}
