@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --accent: #0d51d0;
}

body {
  font-family: var(--font-ui);
  border-color: black;
}

.background-gradient::before {
  position: sticky;
  background-image: radial-gradient(circle 400px at 70px 200px, rgba(147, 51, 234, 0.3), transparent 80%), radial-gradient(circle 300px at calc(100% - 30px) 300px, rgba(29, 78, 216, 0.2), transparent 80%), radial-gradient(circle 400px at right center, rgba(14, 165, 233, 0.2), transparent 80%), radial-gradient(circle 400px at right bottom, rgba(125, 211, 252, 0.15), transparent 80%), radial-gradient(circle 400px at calc(50% - 600px) calc(100% - 100px), rgba(244, 114, 182, 0.2), rgba(252, 231, 243, 0.1), transparent 80%);
  filter: blur(40px);
  z-index: -10000;
}

.background-gradient::after {
  z-index: -1;
  opacity: .2;
  filter: invert(1);
}

.background-gradient::after,
.background-gradient::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
}



@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}



@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
